*{
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

    --text-color: #ebebeb;
    --hover-color: #093d8b;
    --text-muted-color: #858A92;

    --lighter-blue-color: #2B313C;
    --blue-color: #075FE4;
    --grey-color: #858A92;
}
body{
    margin: 0;               /* remove default browser margin */
    padding: 0 30px;         /* horizontal padding from edges */
    max-width: 800px;       /* optional: limits width on big screens */
    margin-left: auto;
    margin-right: auto;      /* centers body content */
    font-family: 'Inter', sans-serif; /* same font as his site */
    background-color: #111;  /* optional: keep your background */
    color: #fff;             /* optional: text color */
    box-sizing: border-box;  /* ensures padding is included in width */
}
#header{
    margin-bottom: 80px;
}
mark{
    background-color: transparent;
    color: var(--hover-color);
}
.sub-title{
    font-size: 40px;
    font-weight: 550;
    line-height: 100px;
    margin-bottom: 10px;
    text-align: start;
}

/* ============================================================ Navigation ============================================================== */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111111f3;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.nav-left {
    position: absolute;
    left: 40px;
}
.nav-left .name {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}
nav a{
    color: var(--grey-color);
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.2s ease;
}
nav a:hover,
nav a.active {
    color: white;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: var(--grey-color);
    text-decoration: none;
    transition: color 0.2s ease;
}
.nav-resume {
    position: absolute;
    right: 40px;
    padding: 8px 16px;
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    transition: all 0.3s ease;
}
.nav-resume:hover {
    color: white;
    border-color: white;
}

/* ============================================================ About ============================================================== */
#about{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
#about .card{
    padding: 10px 20px;
    border: 1px solid #27272a;
    border-radius: 10px;
    margin: 100px 0 20px 0;
}
#about h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: auto;
}
#about p{
    margin-top: 20px;

    line-height: 1.6rem;
}
#about .flex-col-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.location{
    margin-top: 8px;                          
    font-weight: 400;
    color: var(--text-muted-color);

    text-align: left;          
}
.about-social-icons a{
    font-size: 20px;
    text-decoration: none;

    border: 1px solid #27272a;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    color: var(--text-color);

    display: inline-block;
    transition: transform 0.5s ease, color 0.3s ease;
}
.about-social-icons a:hover{
    color: var(--hover-color);
    transition: transform 0.5s ease, color 0.3s ease;
    transform: translateY(-5px);
}

/* ============================================================ Skills ============================================================== */
#skills{
    text-align: center;
}
#skills h1{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: start;
}
.skills-list {
    display: flex;
    gap: 50px;
    padding: 20px 0;
    width: max-content;
    font-size: 20px;
}
.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.skill:hover {
    opacity: 1;
}
.skill i {
    font-size: 25px;
}
/* Both scroll left */
.scroller[data-animated="true"] .skills-list,
.scroller2[data-animated="true"] .skills-list {
    animation: scroll-left 40s linear infinite;
}
.scroller:hover .skills-list,
.scroller2:hover .skills-list {
    animation-play-state: paused;
}
@keyframes scroll-left {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}
.scroller, .scroller2 {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
}
.scroller[data-animated=true],
.scroller2[data-animated=true] {
    -webkit-mask: linear-gradient(90deg, transparent 5%, white 20%, white 80%, transparent 95%);
            mask: linear-gradient(90deg, transparent 5%, white 20%, white 80%, transparent 95%);
}

/* ============================================================ Experience ============================================================== */
#experience {
  background-color: var(--dark-blue-color);
  padding-top: 60px;
}
#experience .title {
  text-align: start;
  font-size: 40px;
  margin-bottom: 30px;
}
/* Timeline container */
.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 2px;
  height: 84%;
  background-color: var(--text-color);
}
/* Timeline entries */
.entry {
  position: relative;
  margin-bottom: 60px;
  display: flex;
  align-items: flex-start;
}
/* Dot */
.entry .dot {
  width: 16px;
  height: 16px;
  background-color: var(--hover-color);
  border-radius: 50%;
  border: var(--text-color) solid 4px;
  position: absolute;
  left: -7px;
  top: 29px;
}
.entry .content {
  margin-left: 20px;
}
.entry .content h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  color: var(--text-muted-color);
}
.entry .content .meta {
  font-size: 14px;
  font-style: italic;
  color: var(--text-muted-color);
  margin: 4px 0;
}
.entry .content .desc {
  font-size: 18px;
  margin-top: 4px;
  color: #c2c2c4;
  max-width: 500px;
}
.entry .content .position {
  font-size: 23px;
  color: var(--text-color);
  margin: 2px 0 4px 0;
  font-weight: 600;
}

/* Experience links */
.experience-link {
  color: var(--hover-color);
  text-decoration: none;
  position: relative;
}
.experience-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--hover-color);
  transition: width 0.3s ease;
}
.experience-link:hover::after {
  width: 100%;
}

/* ============================================================ My Work ============================================================== */
.work {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 ratio */
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.work-list {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 30px;
    margin-top: 20px;
}

/* Video */
.work video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
}

/* Overlay */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 30px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0,0,0,0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.8;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(40px); /* start slightly lower */
}

/* Overlay text */
.overlay h3,
.overlay p,
.overlay .learn-more {
    margin: 0 0 8px 0;
}

/* Learn more button */
.overlay .learn-more {
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    font-size: 12px;
    padding: 4px 10px;
    border: 2px solid white; /* white box */
    border-radius: 10px;
    background: white;
    color: black;
    
    opacity: 0; /* start hidden */
    transform: translateY(10px); /* start slightly lower */
    transition: all 0.2s ease;
}

/* Hover: fade in and slide up */
.work:hover .learn-more {
    opacity: 1;
    transform: translateY(0);
}

/* Icon arrow inside learn-more */
.overlay .learn-more i {
    transition: transform 0.2s ease;
}

.work:hover .learn-more i {
    transform: translateX(5px);
}

/* Optional: smooth fade on overlay text */
.overlay h3,
.overlay p {
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0.9;
}

.work:hover .overlay h3,
.work:hover .overlay p {
    opacity: 1;
}

/* Hover effect */
.work:hover video {
    transform: scale(1.12); /* video zoom */
}

.work:hover .overlay {
    transform: translateY(0);
    opacity: 1;
}

/* ============================================================ Copyright ============================================================== */
.copyright{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
}
.copyright hr{
    margin: 60px 0 40px 0;
    border: none;                  /* remove default border */
    height: 1px;                   /* thickness of the line */
    background-color: var(--text-muted-color); /* line color */
}
.copyright i{
    color: var(--hover-color);
}

/* ============================================================ Slider ============================================================== */
.slider-wrapper{
    position: relative;
    max-width: 30rem;
    margin: 0 auto;
    transition:transform 0.25s ease;
}
.slider-wrapper:hover {
    -webkit-transform:scale(1.7);
    transform:scale(1.7);
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: 240px;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

/* ============================================================ Mobile ============================================================== */
@media only screen and (max-width: 600px){
    .container{
        padding: 10px ;
    }
    .sub-title{
        text-align: center;
    }
    /* --------------Navigation bar---------------- */
nav{
    z-index: 10;
    background-color: #121212;
    width: 100%;
    height: 125px;
    
    padding-left: 40px;
    margin-top: -30px;
}
nav a{
    font-size: 35px;
}
nav p{
    font-size: 15px;
}
.social-icons1{
    display: none;
}
.phone-nav{
    display: block;
    font-size: 40px;
    margin-top: 40px;
    align-self: right;
}

/* --------------Game------------- */
#game{
    --game-video-width: 510px;
    padding-left: 20px ;
}
.game-video{
    margin-top: -170px;
    width: var(--game-video-width); 
    height: 653px;

    border-top-right-radius: var(--game-video-radius);
    border-top-left-radius: var(--game-video-radius);
    border-radius: var(--game-video-radius);
}
.game-title{
    position:absolute;
    top: 450px;
    text-align: center;
}
.game-description-list{
    margin-top: -175px;
}
.game-context1{
    width: 250px;
    height: auto;
    background-color: #232323;

    border-radius: 10px;
    padding-left: 5%;
    align-content: center;
    margin-right: -5px;
}
.game-context2{
    width: 250px;
    height: auto;
    background-color: #232323;

    border-radius: 10px;
    padding-left: 5%;
    align-content: center;
}
.game-grid-container{
    display:block;
    grid-gap: 20px;
    margin-top: 20px;
}
.game-sub-title{
    text-align: center;
    margin-left: 100px;
}
.game-introduction{
    text-align: center;
}
.slider-wrapper{
    display: none;
}

/* --------------About------------- */
#about{
    padding-top: 220px;
    padding-bottom: 200px;
}
#about img{
    position: absolute;
    left: 140px;
    top: 150px;
    width: 30%;
    border-radius: 10%;
}
.about-text{
    text-align: center;
    margin-top: 80px;
    width: 360px;
    margin-left: 0%;
    flex-basis: 60%;
    font-size: 20px;
    font-weight: 300;
    color: #f0c36a9f;
}
.header-text h1{
    font-size: 40px;
    margin-top: 20px;
    color: #f7f7f7;
}
.header-text h1 span{
    font-size: 60px;
    color: #F0C46A;
}
.header-text p{
    margin-top: 10px;
    color: #ababab;
    font-size: 40px;
}

/* --------------Projects------------- */
#projects{
    --project-video-width: 370px;
    margin-top: -200px;
}
.work-list{
    grid-template-columns: auto;
}
.btn{
    display: block;
}

/* --------------Education------------- */
#education{
    padding: 10px 0;
    margin-top: -50px;
}
.education-list{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 15px;
}
.education{
    width: 370px;
    height: 110px;
}
.education h2{
    font-size: 20px;
}
.education p{
    font-size: 15px;
}

/* --------------Experience------------- */
#experience{
    padding: 10px 0;
}
.skills-list{
    grid-template-columns: auto auto auto;
}
.skills-list div{
    width: 110px;
    height: 110px;
}
.skills-list div i{
    font-size: 25px;
}

/* --------------Contact------------- */
#contact{
    padding: 80px 0;
}
.contact-title{
    font-size: 50px;
    margin-left: 0;
    text-align: center;
}
.contact-list{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap: 20px;
    margin-top: 20px;
    margin-left: 0px;
}
.contact-list p{
    margin-top: 30px;
}
.contact-list a{
    color: white;
    text-decoration: none;
}
.contact-list p i{
    color: #F0C46A;
    margin-right: 15px;
    font-size: 25px;
}
.contact-button{
    text-decoration: none;
    color: white;
}
.contact-button:hover{
    color: #F0C46A;
}

/* --------------Social Icons------------- */

.social-icons{
    margin-top: 25px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #F0C46A;
    transform: translateY(-5px);
}

/* --------------Copyright------------- */
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 600;
    margin-top: 20px;
    font-size: 10px;
}
.copyright i{
    color: #F0C46A;
}
}